Create table csms_khaisinhkethopchameconnn(
id decimal primary key,
coQuanQuanLyId decimal,
ten1Tab1 varchar(200),
quocGia1Tab1 decimal,
tinh1 decimal,
quan1 decimal,
xa1 decimal,
diaChi1 varchar(200),
radio1Tab1 varchar(200),
cmnd1Tab1 varchar(200),
ngayCapCmnd1Tab1  datetime,
noiCapCmnd1Tab1 decimal,
hoChieu1Tab1 varchar(200),
ngayCapHoChieu1Tab1  datetime,
noiCapHoChieu1Tab1 varchar(200),
tenGTK1Tab1 varchar(200),
soGTK1Tab1 varchar(200),
noiCapGTK1Tab1 varchar(200),
ngayCapGTK1Tab1  datetime,
quanHe1Tab1 decimal,
ten2Tab1 varchar(200),
sex1Tab1 decimal,
ngaySinh1Tab1  datetime,
ngaySinhBangChu1Tab1 varchar(200),
sex2Tab1 decimal,
birth2Tab1  datetime,
birth2BangChuTab1 varchar(200),
danToc2Tab1 decimal,
quocTich2Tab1 decimal,
quocGia2Tab1 decimal,
tinh2 decimal,
quan2 decimal,
xa2 decimal,
diaChi2 varchar(200),
ten3Tab1 varchar(200),
birth3Tab1  datetime,
danToc3Tab1 decimal,
quocTich3Tab1 decimal,
quocGia3Tab1 decimal,
tinh3 decimal,
quan3 decimal,
xa3 decimal,
diaChi3 varchar(200),
ten4Tab1 varchar(200),
birth4Tab1  datetime,
danToc4Tab1 decimal,
quocTich4Tab1 decimal,
quocGia4Tab1 decimal,
tinh4 decimal,
quan4 decimal,
xa4 decimal,
diaChi4 varchar(200),
ten1Tab2 varchar(200),
birth1Tab2  datetime,
danToc1Tab2 decimal,
quocTich1Tab2 decimal,
tinh5 decimal,
quan5 decimal,
xa5 decimal,
diaChi5 varchar(200),
radio1Tab2 varchar(200),
cmnd1Tab2 varchar(200),
ngayCapCmnd1Tab2  datetime,
noiCapCmnd1Tab2 decimal,
hoChieu1Tab2 varchar(200),
noiCapHoChieu1Tab2 decimal,
ngayCapHoChieu1Tab2  datetime,
tenGTK1Tab2 varchar(200),
soGTK1Tab2 varchar(200),
noiCapGTK1Tab2 varchar(200),
ngayCapGTK1Tab2  datetime,
quanHe1 decimal,
ten2Tab2 varchar(200),
birth2Tab2  datetime,
danToc2Tab2 decimal,
quocTich2Tab2 decimal,
tinh6 decimal,
quan6 decimal,
xa6 decimal,
diaChi6 varchar(200),
radio2Tab2 varchar(200),
cmnd2Tab2 varchar(200),
ngayCapCmnd2Tab2  datetime,
noiCapCmnd2Tab2 decimal,
hoChieu2Tab2 varchar(200),
noiCapHoChieu2Tab2 decimal,
ngayCapHoChieu2Tab2  datetime,
tenGTK2Tab2 varchar(200),
soGTK2Tab2 varchar(200),
noiCapGTK2Tab2 varchar(200),
ngayCapGTK2Tab2  datetime,
quanHe2Tab2 decimal,
ten3Tab2 varchar(200),
birth3Tab2  datetime,
danToc3Tab2 decimal,
quocTich3Tab2 decimal,
tinh7 decimal,
quan7 decimal,
xa7 decimal,
diaChi7 varchar(200),
radio3Tab2 varchar(200),
cmnd3Tab2 varchar(200),
ngayCapCmnd3Tab2  datetime,
noiCapCmnd3Tab2 decimal,
hoChieu3Tab2 varchar(200),
noiCapHoChieu3Tab2 decimal,
ngayCapHoChieu3Tab2  datetime,
tenGTK3Tab2 varchar(200),
soGTK3Tab2 varchar(200),
noiCapGTK3Tab2 varchar(200),
ngayCapGTK3Tab2  datetime,
yKien1 varchar(200),
yKien2 varchar(200),
maQuiTrinh varchar(200),
ngayTao  datetime,
ngaySua  datetime,
nguoiTao varchar(200),
nguoiSua varchar(200),
xoa  decimal )
